<!DOCTYPE html>
<html lang="es">

    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" >
    <link href="{% static 'css/gestion.css' %}" rel="stylesheet" >
    <link href="{% static 'css/login.css' %}" rel="stylesheet" >
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!--links para tienda-->
    <script src="{% static 'miMuebleria/js/app.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.18/jspdf.plugin.autotable.min.js"></script>


    {% block title %} {% endblock %}
    
</head>
<body onload="deshabilitaRetroceso()">
    <!--INICIO DEL ENCABEZADO-->
    <div class="menu" style="text-align: center; justify-content:center;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="btn navbar-brand {% if request.path|slice:':6' == '/blog/' %}active{% endif %}" href="{% url 'crear_post' %}">BLOG</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item  px-lg4">
                    <a class="btn nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}"> <img src="{% static 'img/iconos/house.svg' %}" width="25px" height="25px">Home</a>
                  </li>
                  <li class="nav-item  px-lg4">
                    <a class="btn nav-link {% if request.path == '/vuelos/' %}active{% endif %}" href="{% url 'busqueda_vuelos' %}"><img src="{% static 'img/iconos/airplane.svg' %}" width="25px" height="25px">Vuelos</a>
                  </li>
                  <li class="nav-item  px-lg4">
                    <a class="btn nav-link {% if request.path == '/hoteles/' %}active{% endif %}" href="{% url 'busqueda_hoteles' %}"><img src="{% static 'img/iconos/hotel.svg' %}" width="25px" height="25px">Hoteles</a>
                  </li>
                  <li class="nav-item  px-lg4">
                    <a class="btn nav-link {% if request.path == '/tienda/' %}active{% endif %}" href="{% url 'tienda' %}"><img src="{% static 'img/iconos/gift.svg' %}" width="25px" height="25px">Tienda</a>
                  </li>
                  <li class="nav-item  px-lg4">
                    <a class="btn nav-link {% if request.path == '/contactanos/' %}active{% endif %}" href="{% url 'contactanos' %}"><img src="{% static 'img/iconos/blog.svg' %}" width="25px" height="25px">contactanos</a>
                  </li>
                  <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg4">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="{% static 'img/iconos/telephone.svg' %}" width="25px" height="25px">+52 55 987 654 32
                    </button>
                  </li>
                  {% if user.is_authenticated %}
                  
                   <a style="color:rgb(166, 52, 211);" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hola {{ user.username }}
                  </a>
                  
                   <ul class="dropdown-menu">
                      
                    <li><a style="color:rgb(166, 52, 211);" class="dropdown-item" href="#">Actualizar Datos</a></li>
                    <li><a class="dropdown-item" href="#">Cambiar Contraseña</a></li>
                  
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'autentificacion:cerrar_sesion' %}">Cerrar Sesion</a></li>
                  </ul>
                    {%else%}

                    <a style="color:rgb(166, 52, 211);" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      PERFIL
                    </a>
                    
                    <ul class="dropdown-menu">
                      
                      <li><a style="color:rgb(166, 52, 211);" class="dropdown-item" href="{% url 'autentificacion:iniciar_sesion' %}">INICIAR SESION</a></li>
                      <li><a class="dropdown-item" href="{% url 'autentificacion:autentificar' %}">CREAR UNA CUENTA</a></li>
                    
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    {% endif %}
                  </li>
                </ul>
                <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Linea de Ayuda</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h2>Puedes comunicarte 24/7, para problemas sobre tus reservaciones, compras y asesoria <b>+52 55 987 654 32</b></h2>
                          <hr style="color:red;">
                          <h3>Tambien puedes comunicarte desde la pagina utilizando el formulario<a href="{% url 'contactanos' %}"> CONTACTO </a></h3>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
               

              </div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://www.facebook.com/"> <img src="{% static 'img/iconos/facebook.svg' %}" width="25px" height="25px"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://x.com/?lang=es"> <img src="{% static 'img/iconos/twitter.svg' %}" width="25px" height="25px"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/"> <img src="{% static 'img/iconos/instagram.svg' %}" width="25px" height="25px"></a>
                </li>
                <li class="nav-item  px-lg4">
                    <a class="nav-link active" aria-current="page" href="{% url 'crear_post' %}"> <img src="{% static 'img/iconos/email.svg' %}" width="25px" height="25px"></a>
                </li>
            </ul>
            </div>
        </nav>
        
        
    </div>
   
<!--FIN DEL ENCABEZADO-->

<!--Declaracion del bloque cambiante-->
{% block content %}

<!--insercion de las plantilla hijas-->
{% endblock %}
<!--Fin del bloque cambiante-->

<!--INICIO DEL PIE DE PAGINA-->

<div class="piep card-footer">
    <center>
        <table class="tabla2" style="width: 80%;">
            <tr>
                <th style="width: 20%;"> UMBRA FURNITURE</th>
                <th style="width: 15%;">OPENING TIME</th>
               
                <th style="width: 10%;">ABOUT</th>
                <th style="width: 10%;">ACCOUNT</th>
            </tr>
            <tr>
                <td>
                    <ul class="no-puntos gris espaciado">
                        <li>We are a global housewares product design company. We bring thought and creativity to everyday items through original design</li>
                        <li><b>A</b> 1001 Milacian Crest Street, Paris France</li>
                        <li><b>T</b> +(084) 888-6789</li>
                        <li><b>M</b> contact@Umbra.com</li>
                    </ul>
                </td> 
                <td>
                    <ul class="no-puntos gris espaciado">
                        <li>Mon-Fri: 8AM-10PM</li>
                        <li>Sat: 9AM-8PM</li>
                        <li>Sun: Closed</li>
                        <li>We Work All The Holidays</li>
                    </ul>
                </td>
               
                <td>
                    <ul class="no-puntos gris espaciado">
                        <li>About Us</li>
                        <li>Shopping Guide</li>
                        <li>Delivery Information</li>
                        <li>Privacy Policy</li>
                        <li>Our Store</li>
                    </ul>
                </td>
                <td>
                    <ul class="no-puntos gris espaciado">
                        <li>
                            <a>My Account</a>
                        </li>
                        <li>Wishlist</li>
                        <li>Order Tracking</li>
                        <li>Shipping Info</li>
                        <li>Return Policy</li>
                    </ul>
                </td>
            </tr>
        </table>
    
        <table class="negocios">
            <tr>
                <td><img src="{% static 'img/iconos/paypal.png' %}" style="width: 80px; height: 40px;" alt="Paypal"></td>
                <td><img src="{% static 'img/iconos/american-express.png' %}" style="width: 80px; height: 40px;" alt="American Express"></td>
                <td><img src="{% static 'img/iconos/amazon.png' %}" style="width: 80px; height: 40px;" alt="Amazon"></td>
                <td><img src="{% static 'img/iconos/visa.png' %}" style="width: 80px; height: 40px;" alt="Visa"></td>
            </tr>
        </table>
        <p style="color: gray;">Copyright &#9400 MOI6. Design. All rights reserved</p>
    </center>
</div>
<!--FIN DEL PIE DE PAGINA-->
<script src="{% static 'js\main.js' %}"></script>
<script src="{% static 'js\validar.js' %}"></script>

</body>
</html>