{% extends "base.html" %}

{% load static %}

{% block content %}

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
    <div class="frame">
        {% if messages %}
            {%for mensaje in messages %}
                <div class="text-danger text-center alert-warning">
                    <h4>{{mensaje}}</h4>
                </div>
            {%endfor%}
        {% endif%}
        <div class="nav">
            <ul class"links">
                <li class="signin-active"><a class="btn">RECUPERACION</a></li>
            </ul>
        </div>
        <div ng-app ng-init="checked = false">
            <p style="justify-content: center; text-align:center; margin:auto;">Ingrese su correo electronico y le enviaremos las intrucciones para recuperar su contraseña</p>
            <form class="form-login" action="" method="post" name="form">
                {% csrf_token %}
                {{form.email}} <!-- El campo de correo electrónico generado por PasswordResetForm -->
                <br>
                <div class="btn-animate">
                    <button class="card-footer  btn-signin" type="submit" >Recuperar Contraseña</button>
                </div>
            </form>
           
        </div>
    </div>
</div>


{% endblock %}

