{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="texto-superpuesto transparente" id="carga" onload="deshabilitaRetroceso()" style="justify-content: center; margin-left:25%; text-align:center;">
    <h2 >ENVIO DE EMAIL EXITOSO </h2>
    <p>siga las instrucciones para recuperar su contraseña</p>
    <p> <i>Revise en su carpeta de spam si no encuentra el correo</i></p>
</div>
<div class="container-md" style="justify-content: center; margin:auto; text-align:center;"> <img src="{% static 'img/iconos/correo.png' %}" alt="correo exitoso" style="margin: auto; justify-content:center; height:25%;"> </div>

{% endblock %}