{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class"links">
                <li class="signin-active"><a class="btn">Establecer nueva contraseña</a></li>
            </ul>
        </div>
        <div ng-app ng-init="checked = false">
            <p style="justify-content: center; text-align:center; margin:auto;">Ingrese su nueva contraseña</p>
            <form class="form-login" method="post">
                {% csrf_token %}
                {{ form.new_password1 }}  <!-- Campo para la nueva contraseña -->
                <p style="justify-content: center; text-align:center; margin:auto;"><b>Vuelva a introducir su nueva contraseña</b></p>
                {{ form.new_password2 }}  <!-- Confirmación de la nueva contraseña -->
                <br>
                <div class="btn-animate">
                    <button class="card-footer  btn-signin" type="submit" >Establecer Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
