

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar pedido</title>
    <script src="{% static 'miMuebleria/js/app.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.18/jspdf.plugin.autotable.min.js"></script>

</head>
<body onload="deshabilitaRetroceso()">
    <table class="table table-bordered" style="color: rgb(22, 21, 21);" onload="deshabilitaRetroceso()">
        <thead>
            <tr>
                <th colspan="4" class="text-center">
                    Artículos Seleccionados
                </th>
            </tr>
            <tr>
                <th>Agregar/Quitar</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carro and request.session.carro.items %}
                {% for key, value in request.session.carro.items %}
                    <tr class="text-center">
                        <td>
                            <!--BOTON AUMENTAR Producto-->
                            <form method="post" action="{% url 'carro:agregar' key %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-success">+</button>
                            </form>
                            <!--BOTON RESTAR Producto-->
                            <form method="post" action="{% url 'carro:restar' key %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">-</button>
                            </form>
                        </td> 
                        <td>{{ value.nombre }}</td>
                        <td>{{ value.cantidad }}</td>
                        {% if value.descuento > 0 %}
                            <td>$ {{value.precio_final }}</td>
                        {%else%}
                            <td>$ {{value.precio }}</td>
                        {%endif%}

                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="4">
                        <div class=" alert alert-danger text-center">
                            <p> sin articulos </p>
                        </div>
                    </td>

            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    TOTAL: {{importe_total_carro}}
                </td>
            </tr>
            {% if request.session.carro.items %}
                <tr>
                    <td colspan="4" style="text-align:center;">
                        <a href="#" class="btn btn-success"> Hacer pedido</a>
                    </td>
                </tr>
            {% endif %}
    

        </tfoot>
    </table>
</body>
</html>
