{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Productos -->
        <div class="col-lg-8">
            <div class="row">
                {% for producto in productos %}
                <div class="col-lg-3">
                    <div class="card text-center shadow" style="height: 100%; margin: 5px 5px;">
                        {% if producto.imagen %}
                        <img src="{{ MEDIA_ROOT }}{{ producto.imagen.url }}" alt="{{ producto.nomProduct }}" class="card-img-top" style="height: 40%">
                        {% else %}
                        <img src="{% static 'path/to/default-image.jpg' %}" alt="Imagen no disponible" class="card-img-top" style="height: 40%">
                        {% endif %}
                        <div class="card-body">
                            <h7 class="card-title text-primary lead">
                                {{ producto.nomProduct }}
                            </h7>
                            {% if producto.descuento > 0 %}
                               <strike> <p class="lead text-secondary">$ {{ producto.precio }}</p></strike>
                            {% else %}
                                <p class="lead text-secondary">$ {{ producto.precio }}</p>
                            {%endif%}
                        </div>
                        {% if producto.descuento > 0 %}
                                <a class="lead text-secondary">{{ producto.descuento }}% Descuento</a>
                                Precio final: $ {{ producto.precio_final }}
        
                        {% endif %}

                        <div class="card-footer text-center">
                            <form method="post" action="{% url 'carro:agregar' producto.id %}">
                                {% csrf_token %}
                                {% if producto.stock < 1 %}
                        
                                        <button type="button" class="btn disabled" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            AGOTADO
                                        </button>
                                
                                {% else %}
                                    <button type="submit" class="btn btn-success" style="background-color: rgb(180, 95, 95); border-color: rgb(180, 95, 95);">Agregar</button>
                                {% endif %}
                            </form>
                        </div>
                        
                    </div>
                    
                </div>
                
                {% endfor %}
                <hr>
                <br>
                <hr>
                
                
            </div>
            
        </div>
        
        <!-- Widget del carrito -->
         <div class="col-lg-1">
            <div class="sticky-top" style="float:right; width:100%">
                {% if request.user.is_authenticated %}

                    {% include "carro/widget.html" %}

                {% else %}

                    <div class="alert alert-danger text-center" style="width:200%;">
                        Inicia sesión para realizar tu pedido
                    </div> 

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}