{% extends "base.html" %}
{% load static %}
{% block content %}
<!--<img src="{% static 'img/fondos/fondo_cafe.jpg' %}" alt="fondo" style="z-index:-1; position:absolute;background-size:cover;background-position:center;"> -->
<div class="registro " id="carga" onload="deshabilitaRetroceso()" style="z-index:2;">
    <!--
    {% if messages %}
        <div class="alert alert-danger" role="alert" onload="deshabilitaRetroceso()">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    -->
    <div class="container" style="padding:0;margin:0;">
        <!--encabezado de busqueda (parte de los botones)-->
        <div class="row">
            <div class="col">
                <h3><b>Busca Tu Vuelo</b></h3>
            </div>
            <div class="col">
                <label class="activo" for="flexSwitchCheckDefault" id="sencilloLabel" >Sencillo</label>
            </div>
            <div class="col">
                <div class="form-check form-switch ">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                </div>
            </div>
            <div class="col">
                <label class="inactivo" for="flexSwitchCheckDefault" id="redondoLabel">Redondo</label>
            </div>
        </div>
    </div>
    <!--parte 2 (origen y ciudad )-->
    <div class="container" style="padding:0;margin:0;">
        <form action="buscar/" method="GET" id="vuelos_form" onload="deshabilitaRetroceso()">
            <div class="row">
                <div class="row">

                    <div class="col">
                        <label for="vlPart" style="color:black;"><b>Origen:</b></label>
                        <input list="aeropuertos" type="text" id="vlPart" name="vlPart" required placeholder="Ciudad de Mexico" style="width:90%;">
                        <datalist id="aeropuertos">
                            <option value="Monterrey"></option>
                            <option value="Ciudad de Mexico"></option>
                            <option value="Puebla"></option>
                            <option value="Veracruz"></option>
                            <option value="Oaxaca"></option>
                        </datalist>

                    </div>

                    <div class="col">
                        <label for="vlDest" style="color:black;"><b>Destino:</b></label>
                        <input list="aeropuertos" type="text" id="vlDest" name="vlDest" required placeholder="Monterrey,Nuevo Leon" style="width:90%;">

                    </div>
                </div>
                
            </div>
    <!--parte 3 (tres inputs)-->
            <br>
            <div class="row">
                
                <div class="col" >
                    <label for="vlSalida" style="color:black;"><b>SALIDA</b></label>
                    <input type="date" id="vlSalida" name="vlSalida" required style="width:90%;">

                </div>

                <div class="col" >
                    <label for="vlRegreso" style="color:black;"><b>REGRESO</b></label>
                    <input type="date" id="vlRegreso" name="vlRegreso" style="width:90%;">

                </div>

                <div class="col" >
                    <label for="vlAdultos" style="color:black;"><b>ADULTOS</b></label>
                    <input type="number" id="vlAdultos" name="vlAdultos" min="1" max="30" placeholder="2" style="width:90%;">

                </div>
                
            </div>
    <!--parte de abajo(boton buscar vuelo) -->
            <br />
            <div class="row justify-content-center">
                <div class="col justify-content-center" style="justify-content:center;margin:auto;" >
                        <input type="submit" value="buscar vuelos" class="btn btn-outline-danger">
                </div>
            </div>
        </form>
    </div>

        <br>
        <br>

    </div>

    {% endblock %}
