{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <img src="{% static 'img/fondos/fondo_cafe.jpg' %}" alt="fondo" class="imagen3"-->
<div class="registro " id="carga" onload="deshabilitaRetroceso()"  >
    <!--
    {% if messages %}
        <div class="alert alert-danger" role="alert" onload="deshabilitaRetroceso()">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    -->
    <!--encabezado de busqueda-->
    <div class="container" style="padding:0; margin-top:10%;">
        <div class="row" style="padding:0%;">
            <div class="col">
                <h3 style="text-align:center;"><b>Busca Tu Hotel</b></h3>
            </div>
        </div>
    </div>
    <!--parte 2 (destino y adultos)-->
    <div class="container">
        
        <form action="buscarH/" method="GET"  onload="deshabilitaRetroceso()" id="hotel_form">
            <div class="row">
                <div class="col">
                    <label for="HT_dest" style="color:black;"><b>Destino:</b></label>
                    <input list="aeropuertos" type="text" id="HT_dest" name="HT_dest" required placeholder="Monterrey,Nuevo Leon" style="width:90%;">
                    <datalist id="aeropuertos">
                        <option value="Monterrey"></option>
                        <option value="CDMX"></option>
                        <option value="Puebla"></option>
                        <option value="Veracruz"></option>
                        <option value="Oaxaca"></option>
                    </datalist>
                </div>

                <div class="col">
                    <label for="adultos" style="color:black;"><b>ADULTOS</b></label>
                    <br />
                    <input type="number" id="adultos" name="adultos" min="1" max="30" placeholder="2" style="width:90%;" >
                </div>
            </div>
     <!--parte 3 (fechas)-->
            <br>
            <div class="row">
                
                <div class="col">
                    <label for="HT_entrada" style="color:black;"><b>ENTRADA:</b><p>(14:00 hrs)</p></label>
                    <br />
                    <input type="date" id="HT_entrada" name="HT_entrada" required style="width:90%;">
                </div>
                <div class="col">
                    <label for="HT_salida" style="color:black;"><b>SALIDA</b><p>(12:00 hrs)</p></label>
                    <br />
                    <input type="date" id="HT_salida" name="HT_salida" required style="width:90%;">
                </div>
                <br />
                <hr style="color:rgba(0,0,0,0);" />
    <!--parte de abajo(boton de busqueda)-->
                <br />
                <div class="row">
                    <center>
                    <div class="col">
                        <input type="submit" value="buscar hoteles" class="btn btn-outline-danger" style="justify-content:center; text-align:center;" style="width:90%;">
                    </div>
                    </center>
                </div>
            </div>
        </form>
        
    </div>
</div>

{% endblock %}
