<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEDIDO</title>
</head>
<body>
    Hola {{nombreusuario}}
    <hr>
    <br>
    numero de pedido: {{pedido.id}}
    <br>
    email del usuario: {{email.usuario}}
    <br>
    Lineas de Pedido: {{lineas_pedido}}
    <h2>Detalles del Pedido</h2>
                    <ul id="lineas-pedido">
                        {% for linea in lineas_pedido %}
                        <li>
                            <b><i>Producto: {{ linea.producto.nomProduct }}</i></b> <br>
                            Cantidad: {{ linea.cantidad }} <br>
                            Precio: ${{ linea.total_pedido }}
                            {% for key, value in request.session.carro.items %}
                                {% if value.descuento > 0 %}
                                    <td>$ {{value.precio_final }}</td>
                                {%else%}
                                    <td>$ {{value.precio }}</td>
                                {%endif%}
                            {% endfor %}
                        </li>
                        {% endfor %}
                        <li><b> TOTAL: {{importe_total_carro}}</b></li>
                    </ul>
    
</body>
</html>
